@{
    ViewData["Title"] = "Home Page";
}

<div class="cuadro" data-aos="fade-down"
    data-aos-offset="200"
    data-aos-delay="200"
    data-aos-duration="800"
    data-aos-easing="ease-in-out">

    <h1 class="display-4">Padrón Electoral</h1>
    
    @if (ViewBag.ErrorMessage != null){
        <div class="alert alert-danger" role="alert">
            <h4>Error: @ViewBag.ErrorMessage</h4>
        </div>
    }

    <h4>Complete los datos solicitados:</h4>

    <form action='@Url.Action("ConsultarPadron", "Home")' method="GET">
        <div class="form-group">
            <label for="DNI">DNI</label>
            <input type="number" class="form-control" name="DNI" placeholder="Ingrese su DNI" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Consultar</button>
    </form>
</div>

<div class="cuadro" data-aos="fade-down"
    data-aos-offset="200"
    data-aos-delay="200"
    data-aos-duration="800"
    data-aos-easing="ease-in-out">

    <h1>Reporte de votantes por establecimiento</h1>

    <a class="btn btn-primary" href='@Url.Action("Reporte", "Home")'>Conocer el reporte de votantes por establecimiento</a>
</div>